[user]
	email = k4t0.kei@gmail.com
	name = keik

[alias]
    tr = log --graph --all --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
[push]
	default = upstream
[core]
	excludesfile = /Users/keik/.gitignore-global
