.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/.session
.emacs.d/shellenv.el
.emacs.d/kkcrc
.emacs.d/ido.last
.emacs.d/srecode-map.el
.emacs.d/semanticdb
.emacs.d/url
.DS_Store
