.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list/
.emacs.d/auto-install/
.emacs.d/elpa/
.emacs.d/.session
.emacs.d/shellenv.el
.emacs.d/kkcrc
.emacs.d/ido.last
.emacs.d/srecode-map.el
.emacs.d/semanticdb
.emacs.d/url

// env-specific
.emacs.d/inits/linux-x-*

.DS_Store
